<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="PROJECT__NAME" value="coins"/>
    <property name="LOG_DIRECTORY" value="logs"/>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="FILE-THREAD"
              class="ch.qos.logback.classic.sift.SiftingAppender">

        <!-- This is MDC value -->
        <!-- We will assign a value to 'logFileName' via Java code -->
        <discriminator>
            <key>logFileName</key>
            <defaultValue>main</defaultValue>
        </discriminator>

        <sift>

            <!-- A standard RollingFileAppender, the log file is based on 'logFileName' at runtime  -->
            <appender name="FILE-${logFileName}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">

                <file>${LOG_DIRECTORY}/${PROJECT__NAME}_${logFileName}.log</file>

                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <charset>UTF-8</charset>
                    <Pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level %logger{35} - %msg%n
                    </Pattern>
                </encoder>

                <rollingPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <!-- daily rollover -->
                    <fileNamePattern>${LOG_DIRECTORY}${PROJECT__NAME}_${logFileName}.%i.log</fileNamePattern>
                    <MinIndex>1</MinIndex>
                    <MaxIndex>10</MaxIndex>
                    <maxHistory>1</maxHistory>
                </rollingPolicy>

                <triggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>10MB</MaxFileSize>
                </triggeringPolicy>

            </appender>

        </sift>

    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-THREAD"/>
    </root>

</configuration>
